.card {
  /* border: 1px solid rgba(77, 3, 2, 0.24); */
  box-sizing: border-box;
  border-radius: 16px;
  height: 220px;
  width: 220px;
  margin: 20px;
  padding: 10px;
  padding-bottom: 5px;
}

img {
  max-width: 180px;
  max-height: 180px;
}

.card:hover {
  transition: all 0.3s;
  outline: 8px solid rgba(77, 3, 2, 0.24);
  border: 1px solid rgba(77, 3, 2, 0.24);
}
